<!DOCTYPE html>
<html lang="en" xmlns:th="http:\\thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/add}" th:object="${user}">
    <label for="name">Input user's name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>

    <label for="surname">Input user's surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>

    <label for="profession">Input user's profession</label>
    <input type="text" th:field="*{profession}" id="profession"/>

    <input type="submit" value="Add user">
</form>
</body>
</html>