<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form method="post" action="/login">
        <label for name="username">E-mail</label>
        <br>
        <input name="username"/>
        <br>

        <label for name="password">Password</label>
        <br>
        <input name="password"/>
        <br>

        <input type="submit" value="LogIn"/>
    </form>
</div>

------------
<br>
<table></table>
<tr th:each="user : ${users}">
    <td>
        <p th:text="${user.getName()}"></p>
        <p th:text="${user.getEmail()}"></p>
        <p th:text="${user.getPassword()}"></p>
        <p th:text="${user.getAuthorities()}"></p>
        ------------
    </td>
</tr>


</body>
</html>